<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwVJX45aGG1x7ZHvxuU5QHxCndvd-TKDc</string>
	<key>GCM_SENDER_ID</key>
	<string>861358883809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-a75d4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-a75d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861358883809:ios:97b698f5f000bdf9c408a0</string>
</dict>
</plist>